# vscode cmake build
build

# clion cmake build
cmake-build-debug
cmake-build-release

# clion settings
.idea/

# vscode settings
.vscode/
.github/

# Vim swap files
*.swp
*.swo

# executable files
*.exe
*.out

#Mui's local classes
source/Interfaces/Component.cpp
source/Interfaces/Component.h
source/Interfaces/Container.cpp
source/Interfaces/Container.h
source/Interfaces/Menu.cpp
source/Interfaces/Menu.h

