# vscode cmake build
build

# CMake build directories
cmake-build-*/

# CLion-specific files
.idea/
.cmake/
*.iml

# vscode settings
.vscode/

# Vim swap files
*.swp
*.swo

# executable files
*.exe
*.out

#mac
.DS_Store
