# vscode cmake build
build

# clion cmake build
cmake-build-debug
cmake-build-release
cmake-build-test
cmake-build-debug-mingw
cmake-build-debug-mingw-sfml

# clion settings
.idea/

# vscode settings
.vscode/
.github/

# Vim swap files
*.swp
*.swo

# executable files
*.exe
*.out
